name: Create draft pre-release manual

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag"
        required: true

permissions:
  contents: write

jobs:
  Create-Draft-Pre-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare files for archiving
        run: |
          mkdir amneziawg-server-tools

          cp -r lib/ amneziawg-server-tools/

          cp amneziawg-install.sh amneziawg-server-tools/

          cp amneziawg-manager.sh amneziawg-server-tools/

          cp amneziawg-uninstall.sh amneziawg-server-tools/

      - name: Prepare zip for draft pre-release
        run: zip -r amneziawg-server-tools-${{ inputs.tag }}.zip amneziawg-server-tools/

      - name: Prepare tar.gz for draft pre-release
        run: tar -czf amneziawg-server-tools-${{ inputs.tag }}.tar.gz amneziawg-server-tools/

      - name: Create draft pre-release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          prerelease: true
          tag: ${{ inputs.tag }}
          name: ${{ inputs.tag }}
          artifacts: "amneziawg-server-tools-${{ inputs.tag }}.zip, amneziawg-server-tools-${{ inputs.tag }}.tar.gz"
