name: Upload latest release on gh-pages

on:
  workflow_run:
    workflows: ["Create release on tag"]
    types: [completed]

permissions:
  contents: write

jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Download latest release zip
        run: wget https://github.com/sovokan/amneziawg-server-tools/releases/download/${{ github.event.workflow_run.head_branch }}/amneziawg-server-tools-${{ github.event.workflow_run.head_branch }}.zip

      - name: Rename zip
        run: mv -f amneziawg-server-tools-${{ github.event.workflow_run.head_branch }}.zip amneziawg-server-tools-latest.zip

      - name: Commit
        run: |
          git add amneziawg-server-tools-latest.zip
          git commit -m "Update latest release zip to ${{ github.event.workflow_run.head_branch }}"

      - name: Upload release
        run: git push origin gh-pages
